@page "/products/create"
@using QuickShop.Shared.Models
@inject HttpClient http
@inject NavigationManager navigationManager
@inject IProductService ProductService
@using QuickShop.Client.Imagehelper
<PageTitle>Add Product</PageTitle>

<PageTitle>Create</PageTitle>

<h1>Crear Productos</h1>

@if (product is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <hr />
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="product" OnValidSubmit="AddProduct" FormName ="create">
                <DataAnnotationsValidator />
                <ValidationSummary class="text-danger" />
                <div class="mb-3">
                    <label for="title" class="form-label">Title:</label>
                    <InputText id="title" @bind-Value=product.Title class="form-control" />
                    <ValidationMessage For="() => product.Title" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description:</label>
                    <InputText id="description" @bind-Value="product.Description" class="form-control" />
                    <ValidationMessage For="() => product.Description" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="quantity" class="form-label">Quantity:</label>
                    <InputNumber id="quantity" @bind-Value="product.quantity" class="form-control" />
                    <ValidationMessage For="() => product.quantity" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label">Price:</label>
                    <InputNumber id="price" @bind-Value="product.Price" min="0" step="0.01" class="form-control" />
                    <ValidationMessage For="() => product.Price" class="text-danger" />
                </div>
                <div class ="mb-3">
                    <label for="category">Categoria</label>
                    <InputSelect id="category" @bind-Value="product.CategoryId" class="form-control">
                        @foreach (var category in Categories)
                        {
                            <option value="@category.Id">@category.Name</option>
                        }
                    </InputSelect>
                    <ValidationMessage For="() => product.CategoryId" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="imageUpload" class="form-label @(ImageUploadMessage == ""?"":"text-danger")">
                        @(ImageUploadMessage == "" ? "Upload Image" : ImageUploadMessage )
                    </label>
                    <InputFile id="imageUpload" OnChange="HandleImageUpload" class="form-control" multiple ></InputFile>
                </div>
                <button type="submit" class="btn btn-primary">Crear Producto</button>
            </EditForm>
            <FluentButton OnClick="CreateFakeAsync"></FluentButton>
        </div>
    </div>
}
<div>
    <a href="products">Lista de Productos</a>
</div>



@code {

    public Product product { get; set; } = new();
    public List<Category> Categories {get; set;} = new();
    ImageHelper imageHelper = new();
    string ImageUploadMessage = "";

    protected override async Task OnInitializedAsync()
    {
        Categories = await http.GetFromJsonAsync<List<Category>>("api/Categories");


    }

    

    async Task AddProduct()
    {
        var response = await http.PostAsJsonAsync("api/Products", product);
        if (response.IsSuccessStatusCode)
        {


            navigationManager.NavigateTo("products");
        }
        else
        {
            // Handle error
        }
    }
    async Task HandleImageUpload(InputFileChangeEventArgs e)
    {
        await imageHelper.HandleImageUpload(e, ImageUploadMessage, product);
    }
    
}

