@using Microsoft.AspNetCore.Components.QuickGrid
@using QuickShop.Shared.Models
@inject HttpClient Http

@if (products is not null)
{
    <div class="container-fluid">
        <div class="row">
            @foreach (var product in products)
            {
                <div class="col-lg-3 col-md-4 col-sm-6 mb-4" style="padding:10px;">
                    <a href ="@Details.Url(product)" style="text-decoration:none; color: inherit;">
                        <FluentCard>
                            <div class="set-bg">
                                <img src="@product.Image" class="img-fluid" />
                            </div>
                            <div class="p-3">
                                <h6 class="text-center">@product.Title</h6>
                                <h5 class="text-center">@($"{product.Price.ToString("C", new System.Globalization.CultureInfo("es-AR"))}")</h5>
                                <FluentStack HorizontalAlignment="HorizontalAlignment.Center">
                                    <button class="btn btn-primary">Comprar</button>
                                    <button class="btn btn-primary">Agregar al Carrito</button>
                                </FluentStack>
                            </div>
                        </FluentCard>
                    </a>
                </div>
            }
        </div>
    </div>


}


@code {
    [Parameter] public List<Product>? products { get; set; } = new();
   
 
}
<style>
    .set-bg img {
        width: 150%;
        height: 300px; /* Ensure all images are the same height */
        object-fit: cover; /* Cover the container without distortion */
        display: block;
    }
</style>