@inherits LayoutComponentBase
<PageTitle>Blazing Blog</PageTitle>

<div class="page d-flex flex-column">
    <div class="container-fluid" style="background-color:rebeccapurple">
        <TopNavBar />
    </div>
    <div class="container-fluid flex-grow-1">
        @Body
    </div>
    <footer class="fixed-bottom text-center d-flex align-items-center justify-content-center footer">
        <p class="mb-0 py-2">Tienda creada con blazor por <strong>Pablo Pelinski</strong></p>
    </footer>
</div>