<div class="container">
    <header class="d-flex justify-content-between flex-wrap py-3">
        <NavLink href="/" class="text-light text-decoration-none fs-4 fw-bold">QuickShop</NavLink>
        <ul class="nav">
            <li>
                <NavLink href="/" class="link-light nav-link">Home</NavLink>
            </li>
            <li>
                <NavLink href="/store" class="link-light nav-link">Tienda</NavLink>
            </li>   
            <li>
                <NavLink href="/products" class="link-light nav-link">Productos</NavLink>
            </li>
            <li>
                <NavLink href="/products" class="link-light nav-link">Oferta</NavLink>
            </li>
            
        </ul>   
        <div class="text-end">
            <NavLink href="/cart" class="btn btn-primary">Carrito</NavLink>
        </div>
    </header>
</div>
@code {

}